<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">

    <!-- ========================= footer start ========================= -->
    <footer class="footer pt-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget mb-60 wow fadeInLeft" data-wow-delay=".2s">
                        <a href="index.html" class="logo mb-30"><img th:src="@{/assets/img/logo/campingmoa_logo.png}" alt="logo" width="100%"></a>
                        <p class="mb-30 footer-desc">더 나은 캠핑문화를 만들어갑니다.</p>
                    </div>
                </div>
                <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
                    <div class="footer-widget mb-60 wow fadeInUp" data-wow-delay=".4s">
                        <h4>서비스</h4>
                        <ul class="footer-links">
                            <li>
                                <a href="javascript:void(0)">지도</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">관심목록</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-widget mb-60 wow fadeInUp" data-wow-delay=".6s">
                        <h4>about 모아모아</h4>
                        <ul class="footer-links">
                            <li>
                                <a href="javascript:void(0)">회사소개</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">오시는길</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">제휴문의</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="footer-widget mb-60 wow fadeInRight" data-wow-delay=".8s">
                        <h4>고객센터</h4>
                        <ul class="footer-links">
                            <li>
                                <a href="javascript:void(0)">공지사항</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">뉴스</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">자주묻는 질문</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">문의하기</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="footer-social-links">
                            <ul class="d-flex">
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- ========================= footer end ========================= -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-arrow-up"></i>
    </a>
</div>
</html>