<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

    <div layout:fragment="content">
        <!-- ========================= hero-section start ========================= -->
        <section id="home" class="hero-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <div class="hero-content-wrapper">
                            <h2 class="mb-25 wow fadeInDown" data-wow-delay=".2s">새로운 캠핑공간</h2>
                            <h1 class="mb-25 wow fadeInDown" data-wow-delay=".2s">나만의 캠핑장소를 꿈꾸고 계시나요?</h1>
                            <p class="mb-35 wow fadeInLeft" data-wow-delay=".4s">캠핑모아를 통해 프라이빗한 캠핑을 떠나보세요.</p>
                            <a href="javascript:void(0)" class="theme-btn">캠핑 떠나기</a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="hero-img">
                            <div class="d-inline-block hero-img-right">
                                <img th:src="@{/assets/img/hero/hero-img.jpg}" alt="" class="image wow fadeInRight" data-wow-delay=".5s">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ========================= hero-section end ========================= -->
    </div>
</html>